<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WeatherWebServiceSoap" />
                <binding name="WebService1Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebService1Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webxml.com.cn/WebServices/WeatherWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeatherWebServiceSoap"
                contract="WeatherServiceTest.WeatherWebServiceSoap" name="WeatherWebServiceSoap" />
            <endpoint address="https://localhost:44345/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="LocalServiceReference.WebService1Soap" name="WebService1Soap" />
        </client>
    </system.serviceModel>
</configuration>